.footer{
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: rgb(22, 26, 42);
}
.footer_logo{
    position: relative;
    
}

.footer .footer_logo p{
    color: white;

}
.social__links span a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
.footer__link_title{
    color: #fbfbfb;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
}
.footer__quick-links h6 span{
    color: black;
    font-size: 1.1rem;
    
}

.footer__quick .list-group-item {
    background-color: transparent;
    color: white; /* Optionally, change text color */
}
.footer__quick .foot a{
    color: white;
    text-decoration: none;
}

.row1{
    padding: 2rem 0 4rem 0;  
}

.footer_bottom{
    padding: 2rem 0 0 0;
    border-top: 2px solid #4948484a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_bottom h2 {
    color: bisque;
    font-size: 1rem;
}