@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

.booking_container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c2e;
  padding: 16px 24px;
  border-radius: 8px;
  margin-bottom: 32px;
  flex-wrap: wrap;
} */

/* .logo {
  font-weight: 700;
  font-size: 24px;
  color: #ff7851;
  font-family: 'Poppins', sans-serif;
} */

/* .nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
} */

/* .nav-item {
  cursor: pointer;
  color: #ccc;
  font-weight: 500;
  font-size: 16px;
} */
/* user-select: none; */

/* .nav-item:hover {
  color: #ff7851;
} */

.main-title {
  text-align: center;
  color: #fff;
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 24px;
  letter-spacing: 0.5px;
}

.step-content {
  flex-grow: 1;
}

/* .footer {
  text-align: center;
  font-size: 14px;
  color: #666;
  padding: 12px 0;
  margin-top: auto;
  border-top: 1px solid #333;
} */

/* Responsive */
@media (max-width: 767px) {
  .header {
    justify-content: center;
  }
  .nav {
    justify-content: center;
  }
  .main-title {
    font-size: 22px;
  }
}
