.home-sec1 {
    background-image: url('../data/image/back_pic3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 99vw;
    padding: 4vw 6vw;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.home_overlay {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0), transparent);
}

.home-login-btn-div {
    width: 250px;
    display: flex;
    background: transparent;
    margin-top: 3rem;
}

.home-login-btn {
    padding: 2px 35px;
    /* background: linear-gradient(to right, rgb(26, 64, 92) 1%, transparent 40%,transparent 60% , rgba(26, 61, 109, 0.932) 100%); */
    background: linear-gradient(to right, rgb(26, 64, 92) 1%, transparent 40%, transparent 60%, rgba(26, 61, 109, 0.932) 100%);
    /* box-shadow: inset 0 0 10px rgba(36, 104, 161, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1); */
    border: 2px solid #0a6d92;
    color: #f4f5f5;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all ease 0.3s;

}

.home-login-btn::after {
    content: '';
    position: absolute;
    background-color: #2e84a5;
    height: 110%;
    width: 100%;
    bottom: -120%;
    left: 0;
    transition: all ease 0.3s;
    border-radius: 10px;
}

.home-login-btn:hover::after {
    bottom: 0;
}

.home-login-btn span {
    z-index: 9;
    position: relative;

}

.home-login-btn:hover {
    color: #151515;
    border: none;
    font-weight: 500;
}

.home-login-btn-div img {
    margin-left: 15px;
    cursor: pointer;
}



.hero__subtitle img {
    width: 2rem;
    height: 2rem;
}

.hero__content {
    /* padding-top: 4rem; */
    position: relative;
    z-index: 2;
}

.hero__content h1 .hell {
    width: 100%;
    font-size: 4rem;
    font-weight: 900;
    font-family: cursive;
    color: #ffffff;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    background: linear-gradient(to right, #dfecf0, #bedfec, #f2f6f8, #e6f3f8, #e9f2f6, #b2dbeb, #e5edf0);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.hero__content h1 {
    font-size: 2.8rem;
    font-weight: 600;
    /* background: linear-gradient(to right, #2e84a5, #3bb9eb, #1e586e, #0b2732);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
    position: relative;
    /* line-height: 70px; */
}

.hero__content .hell1 {
    display: flex;
}

.hero__content .hell1 h1 {
    font-size: 3rem;
    font-weight: 600;
    background: linear-gradient(to right, #2e84a5, #3bb9eb, #1e586e);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: relative;
    margin-bottom: 4rem;
    /* line-height: 110px; */
}

/* .hell1{
    font-size: 100px;
  font-weight: bold;
  color: black;
  text-shadow: 0 0 10px black;
  letter-spacing: 5px;
}
.hell1::first-letter{
    font-size: 120px;
    margin-right: -10px;
}
.hell1::first-letter::before{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-left: 5px solid white;
    border-right: 5px solid white;
    position: absolute;
    top: 20px;
    left: -30px;
    transform: rotate(45deg);
}
 .hell1::first-letter::after{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-left: 5px solid white;
    border-right: 5px solid white;
    position: absolute;
    top: 70px;
    left: -30px;
    transform: rotate(-45deg);
} */


.hero__content h1 .highlight {
    color: rgb(9, 172, 172);

}

.hero__content p {
    font-size: 0.9rem;
    color: white;
    line-height: 2rem;
    width: 630px;
}

/* //important lines */
.hero__img-box img,
.hero__img-box video {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    object-fit: cover;

}


.hero__img-box {
    padding-top: 2rem;
}

/* SERVICE LIST SECTION */
.serviceList_section {
    display: grid;
    place-items: center;
    width: 98vw;
    height: 90vh;
    position: relative;
}

.serviceList_container {
    width: 100%;
    display: flex;
    position: relative;
    gap: 4vw;
}

.serviceList_container_inner1 {
    position: relative;
}

.servicecard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 50px;
}

.services__subtitle {
    font-size: 2.3rem;
    font-weight: bold;
    color: #ee6e6e;
    font-family: var(--subtitle-font-name);
    display: grid;
    place-items: center;
}


.earth_container {
    width: 500px;
    height: 400px;
    display: grid;
    place-items: center;
}

.earth {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    display: grid;
    place-items: center;
    animation: bounce 1s infinite;
}

.earth img {
    width: 200%;
    height: 100%;
}

.shadow {
    width: 300px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    margin-top: -20px;
    opacity: 0.2;
    animation: shadow_bounce 1s infinite;
}

.shadow img {
    width: 100%;
    height: 100%;
}

@keyframes bounce {
    50% {
        transform: translateY(-120px);
        animation-timing-function: ease-in;
    }

    0%,
    100% {
        transform: scaleX(1.2)scaleY(.7);
    }

    97% {
        transform: scaleX(1);
    }
}

@keyframes shadow_bounce {

    0%,
    100% {
        transform: scaleX(1.4)scaleY(.9);
    }

    97% {
        transform: scaleX(1)scaleY(1.2);
    }
}



.rotating-world {
    animation: rotate 80s linear infinite;
    display: block;
    margin-top: -10vh;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ENDS HERE */



.featured__tour-title {
    font-size: 2.3rem;
    font-weight: bold;
    color: #ffeba7;
}

.experience__content h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: bold;

}

.experience__content p {
    font-size: 1.1rem;
    color: var(--text-color);
    margin-top: 1rem;
    color: white;
}

.experience__img img {}

.counter__wrapper {
    margin-top: 2.5rem;
}


.new {
    display: grid;
    place-items: center;
}

.counter__box {
    cursor: pointer;
    border-radius: 10px 0px 10px 0px;
    padding: 0px 10px;
    background: linear-gradient(to left, #193641, #0a6d92, #2e84a5, #193641);
    margin-top: -20px;
    transition: 0.1s linear;
}

.counter__box:hover {
    border: 2px solid #6191ea;
}

.counter__box span {
    width: 80px;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #151515;
    font-size: 1.8rem;
    font-weight: bolder;
}

.counter__box h6 {
    font-size: 1.1rem;
    margin-top: 0.2rem;
    color: #151515;
    font-weight: bolder;
}


.masonry__img {
    transition: .3s;

}

.masonry__img:hover {
    transform: scale(1.1);
}

.section__subtitle {
    width: 100%;
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #ee6e6e;
}

/* .services__title,
.featured__tour-title,
.gallery__title,
.testimonial__title,
.experience__content {
    font-size: 2.5rem;
    margin-top: 1rem;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
} */

.services__title,
.hello,
.featured__tour-title,
.gallery__title,
.testimonial__title
 {
    font-size: 2.5rem;
    margin-top: 1rem;
    color: hsl(0, 0%, 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    font-weight: 700;
}

@media only screen and (max-width:992px) {
    .hero__content h1 {
        font-size: 2.7rem;

    }

    .hero__img-box {
        display: none;
    }

    .hero__video-box {
        display: block;

    }

    .services__title,
    .featured__tour-title,
    .gallery__title,
    .testimonial__title,
    .experience__content h2 {
        font-size: 2rem;

    }

    .experience__img {
        margin-top: 2rem;

    }
}

@media only screen and (max-width:576px) {
    .hero__content h1 {
        font-size: 1.8rem;

    }

    .services__title,
    .featured__tour-title,
    .gallery__title,
    .testimonial__title,
    .experience__content h2 {
        font-size: 1.5rem;

    }

}

/*details if we hover*/
/* GALLERY PART */
.container1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cards {
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    margin-right: 18px;
    margin-bottom: 32px;
    border-radius: 20px;
}

.cards .img {
    transition: all 0.3s;
}

.content {
    position: absolute;
    color: #e8e1e1;
    display: none;
    transition: all 0.7s;
}

.container1:hover .cards {
    transform: rotateY(180deg);
}

.container1:hover .cards img {
    filter: brightness(0.2);
}

.container1:hover .content {
    display: block;
}

/* GALLERY PART ENDS */

/* background  gif*/