.main-register-container {
    display: flex;
    justify-content: center;
}

.register__container {
    background-color: #202c49;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 780px;
    max-width: 100%;
    min-height: 480px;
}

.register__container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.register__container span {
    font-size: 12px;
}

.register__container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.register__container button {
    background-color: orange;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.register-container button:hover {
    background-color: #00a1ff;
}

.register-container button.hidden {
    background-color: transparent;
    border-color: #fff;
}



.register__container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}


.register__img {
    width: 60%;
    text-align: center;
}

.register__img img {
    width: 70%;
    object-fit: contain;
}


.register__form h2 {
    color: #fff;
    text-align: center;
}

.sign-up {
    left: 0;
    width: 50%;
    z-index: 2;
}

.register__container.active .sign-up {
    transform: translateX(100%);
}

.otp {
    left: 5%;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.otp form{
    margin-top: -40%;
}
.register__form {
    width: 45%;
    background-color: #202c49;
    display: grid;
    place-items: center;
    position: absolute;
    top: 50px;
    height:85%;
    transition: all 0.6s ease-in-out;
    padding: 0px 20px;
}

.register__form form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register__form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    border: 2px solid #2c56b7;
    color: rgb(185, 179, 179);
    background-color: transparent;
}

.register__form form input:focus {
    outline: none;
    background-color: transparent;
    color: rgb(185, 179, 179);
}

.register__form p {
    font-size: .9rem;
    color: #fff;
    margin-top: 1.5rem;
    text-align: center;
}

.register__form p a {
    color: rgb(79, 79, 161);
    text-decoration: none;
    margin-left: 5px;
    font-weight: bold;

}
.register__container.active .otp{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}
.role-selection {
    display: flex;
    justify-content: start;
    align-items: center;
    color: #fff;
    gap: 20px;
    margin: 10px 0px;
}

.role-selection-label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    cursor: pointer;
}
.custom-checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-checkbox:checked {
    background-color: #007bff;
    border-color: #0056b3;
    position: relative;
}

.custom-checkbox:checked::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-color: orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}




/* Toggle */
.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 60%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 120px 0 0 90px;
    z-index: 1000;
}

#register-container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: linear-gradient(to left, #00a1ff, #00ff8f);
    height: 100%;
    background: linear-gradient(to right, #C33764  , #1D2671);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

#register-container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.toggle-left{
    transform: translateX(-200%);
}

#register-container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}
.toggle-right a{
    text-decoration: none;
    color: #d192a6;
    font-size: 1rem;
}
#register-container.active .toggle-right{
    transform: translateX(200%);
}

.radio{
    color: rgb(71, 113, 205) !important;
    
}
#demo-row-radio-buttons-group-label{
    color: #1976d2;
}