.tour__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row_tour {
    position: relative;
    display: flex;
    justify-content: space-between;

}

.tour__detail_left {}

.tour__detail_right {
    display: flex;
    justify-content: end;
}

.tour__content img {
    width: 100%;
    border-radius: .5rem;
    margin-bottom: 2.5rem;
}

.tour__rating_simple {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.tour__info,
.tour__reviews {
    border-radius: .5rem;
    padding: 1.5rem 2rem;
    background: linear-gradient(to right, #172733, #304454, #172733);
    color: #fff;
    border: 2px solid rgb(85, 102, 138);
}

.tour__info h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.tour__info span {
    display: flex;
    align-items: center;
    gap: .5rem;
    columns: var(--text-color);
}

.tour__info span i {
    color: var(--heading-color);
    font-size: 1.3rem;
}

.tour__extra-details {
    margin-top: 1rem;
}

.tour__info h5 {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

.tour__info p {
    line-height: 30px;
    font-size: 0.9rem;
    color: #e1dbdb;

}

.rating__group span {
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: #32475a;
    border: 1px solid #75838e;
    padding: 2px 8px;
}


.blue-star {
    color: goldenrod;
}

.review__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
    background: linear-gradient(to right, #18344c, #192a39, #18344c);
    border: 2px solid rgb(66, 92, 148);
}


.review__input input {
    width: 100%;
    padding: 0.5rem 0.5rem;
    border: none;
    background: transparent;
}

.review__input input:focus {
    outline: none;
    color: #fff;
}


@media only screen and (max-width:768px) {
    .tour__extra-details {
        flex-wrap: wrap;
        row-gap: 1rem;

    }

    .tour__extra-details span {
        font-size: .9rem;
    }

    .tour__extra-details span i {
        font-size: 1rem;

    }
}

.absolute_section {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.review_section_inner {
    width: 45%;
    max-height: 95%;
    overflow-y: auto;
    border-radius: 20px;
    position: relative;
    background-color: #283949;
    padding: 20px 20px;
}

.booking_section_inner {
    width: 90%;
    max-height: 90%;
    overflow-y: auto;
    border-radius: 20px;
    position: relative;
    background-color: #1d2327;
    padding: 20px 20px;
}

.review_button {
    color: #fff;
    font-weight: 500;
    padding: 5px 15px;
    background: rgba(37, 124, 165, 0.792);
    box-shadow: 0 8px 20px 0 rgba(114, 120, 211, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.user__reviews {
    padding: 10px 40px;
}

.close_review {
    position: sticky;
    top: 0;
    color: #aeacac;
    display: flex;
    justify-content: end;
    cursor: pointer;
}

.close_review span {
    font-size: 20px;
    font-weight: bolder;
    border-radius: 50%;
    border: 3px solid #aeacac;
    padding: 2px 10px;
}
.close_review:hover{
    color: #fff;
}
.close_review:hover span{
    border-color: #fff;

}

.review__item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 2rem;
    border-radius: 20px;
    padding: 10px 20px;
    position: relative;
    background: linear-gradient(to right, #206db1a0, #33618f, #1c6cb2, #12518fac);
}

.review__item_left {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review__item_right {
    width: 90%;

}

.review__item_left img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50px;
    object-fit: cover;
}

.review__item h5 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0;
}

.review__item p {
    font-size: .9rem;
    color: #d0d0d0;
    font-weight: 600;
}

.review__item h6 {
    font-size: 1rem;
    color: #fff;
}

.review__item span i {
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.review__item span {
    height: 100%;
    font-weight: bold;
    font-size: larger;
}


/* BOOKING SECTION CALL */
.descSection {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    position: sticky;
    top: 80px;
    background: linear-gradient(to right, #172733, #304454, #172733);
    border: 2px solid rgb(56, 67, 92);
}

.image_div {
    position: relative;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: rgba(0, 0, 0, 0.179);
}

.image_div img {
    width: 100%;
    border-radius: 5px;
    background-position: center;
    object-fit: contain;
}

.descSection_div {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.8rem 0.7rem;
    background-color: rgba(0, 0, 0, 0.179);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.descSection_div h5 {
    font-size: 1.5rem;
    font-weight: 600;
}

.descSection_div p {
    font-size: 1rem;
    font-weight: 300;
    color: azure;
}

.booking_section_inner::-webkit-scrollbar{
    display: none;
}